[run]
branch = True
include =
    src/*.py
    src/**/*.py
    tests/*.py
omit =
    **/.virtualenvs/**/*.py
    /usr/local/**/*.py
    **/python3.6/**/*.py
    /opt/python/**/*.py

[report]
show_missing = true
fail_under = 100
exclude_lines =
    pragma: no cover
    @abc.abstractmethod
    @abc.abstractproperty
