<div>
  <p>
    <a class="btn btn-light justify-content-left" data-toggle="collapse" href="#collapseDocumentForm" role="button" aria-expanded="false" aria-controls="collapseDocumentForm">
    Store a document
    </a>

    {% if tag_aggregation %}
    <a class="btn btn-light justify-content-left" data-toggle="collapse" href="#collapseTagList" role="button" aria-expanded="false" aria-controls="collapseTagList">
    Show tags
    </a>
    {% endif %}
  </p>
</div>

<div class="collapse{% if view_options.expand_document_form %} show{% endif %}" id="collapseDocumentForm">
  <div class="card">
    <div class="card-header">
      Store a document
    </div>
    <div class="card-body">
      <form action="upload" method="post" enctype="multipart/form-data">
        <div class="form-group">
          <label for="form__title">Title</label>
          <input name="title" type="text" class="form-control" id="form__title" placeholder="Enter title">
        </div>

        <div class="form-group">
          <label for="form_tags">Tags</label>
          <input name="tags" type="text" class="form-control" id="form_tags" placeholder="Enter tags (space-separated)" value="{{ ' '.join(tag_query) }}" required>
        </div>

        <div class="form-group">
          <label for="form_tags">Source URL</label>
          <input name="source_url" type="url" class="form-control" id="form__url" placeholder="https://example.org/document.pdf">
        </div>

        <div class="form-group">
          <label for="form__file">File</label>
          <input name="file" type="file" class="form-control-file" id="form__file" required>
        </div>

        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

{% include "_tag_browser.html" %}

<script>
  $("#collapseDocumentForm")
    .on("show.bs.collapse", function() {
      Cookies.set("form-collapse__show", true);
    })
    .on("hide.bs.collapse", function() {
      Cookies.set("form-collapse__show", false);
    })

  $("#collapseTagList")
    .on("show.bs.collapse", function() {
      Cookies.set("tags-collapse__show", true);
    })
    .on("hide.bs.collapse", function() {
      Cookies.set("tags-collapse__show", false);
    })
</script>
