<div class="row">
{% for doc in search_response.documents %}
<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="card">

    <a href="/files/{{ doc.file_identifier }}">
      {% if doc.thumbnail_identifier %}
      <img class="card-img-top" src="/thumbnails/{{ doc.thumbnail_identifier }}">
      {% else %}
      <img class="card-img-top" src="/static/placeholder.jpg">
      {% endif %}
    </a>

    <div class="card-body">
      {% if doc.title %}
      <h5 class="card-title">{{ doc.title }}</h5>
      {% endif %}

      {% if doc.tags %}
      <p class="tags card-text">
        {% for t in doc.tags | sort %}
        <button type="button" class="btn btn-light tag" {% if t in search_options.tag_query %}disabled{% else %}onclick="script:gotoTag('{{ t }}')"{% endif %}>{{ t }}</button>
        {% endfor %}
      </p>
      {% endif %}
    </div>
  </div>
</div>
{% endfor %}
</div>
