<div class="row">
{% for doc in search_response.documents %}
<div class="col-lg-3 col-md-4 col-sm-6">
  <div class="card">

    <a href="{{ api.file_url(doc) }}">
      {% if doc.thumbnail_identifier %}
      <img class="card-img-top" src="{{ api.thumbnail_url(doc) }}">
      {% else %}
      <img class="card-img-top" src="{{ api.static_url('placeholder.jpg') }}">
      {% endif %}
    </a>

    <div class="card-body">
      {% if doc.title %}
      <h5 class="card-title">{{ doc.title }}</h5>
      {% endif %}

      {% if doc.user_data and doc.user_data.source_url %}
        <p class="source_url figure-caption">
          <a href="{{ doc.user_data.source_url }}">{{ doc.user_data.source_url | short_url }}</a>
        </p>
      {% endif %}

      {% include "_taglist.html" %}
    </div>
  </div>
</div>
{% endfor %}
</div>
