{% if "_message" in params %}
  {% if params._message.id %}
  <div class="alert alert-success" role="alert">
    Stored new document as {{ params._message.id }}!
  </div>
  {% endif %}

  {% if params._message.error %}
  <div class="alert alert-success" role="alert">
    Unable to store document: {{ params._message.error }}
  </div>
  {% endif %}

  <script>
    var url = new URL(window.location.href);
    url.searchParams.delete("_message");
    window.history.pushState({ path: url.href }, "", url.href);
  </script>
{% endif %}
