<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="?">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <ul class="pagination float-right">
      <li class="page-item{% if grid_view %} disabled{% endif %}">
        <a class="page-link text-muted" href="#" onclick="document.location = setQueryParameter('view', 'grid');">
          <span aria-hidden="true"><i class="fas fa-grip-horizontal"></i></span>
          <span class="sr-only">Grid view</span>
        </a>
      </li>
      <li class="page-item{% if not grid_view %} disabled{% endif %}">
        <a class="page-link text-muted" href="#" onclick="document.location = setQueryParameter('view', 'table');">
          <span aria-hidden="true"><i class="fas fa-list"></i></span>
          <span class="sr-only">Table view</span>
        </a>
      </li>
    </ul>
  </div>
</nav>
