<nav class="navbar navbar-expand-sm navbar-dark bg-dark">
  <div class="container">
    <a class="navbar-brand" href="#">{{ title }}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown float-right" id="navbarSortBy">
          <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" id="navbarSortByDropdown" aria-expanded="false">
            sort by
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarSortByDropdown">
            <a class="dropdown-item" href="{{ req_url.set('sort', 'title:a_z') | query_str_only }}">title (a-z)</a>
            <a class="dropdown-item" href="{{ req_url.set('sort', 'title:z_a') | query_str_only }}">title (z-a)</a>
            <a class="dropdown-item" href="{{ req_url.set('sort', 'date_created:newest_first') | query_str_only }}">date created (newest first)</a>
            <a class="dropdown-item" href="{{ req_url.set('sort', 'date_created:oldest_first') | query_str_only }}">date created (oldest first)</a>
          </div>
        </li>
        <li class="nav-item dropdown float-right" id="navbarViewAs">
          <a class="nav-link dropdown-toggle" href="#" id="navbarViewAsDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            view as
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarViewAsDropdown">
            <a class="dropdown-item" href="{{ req_url.set('view', 'table') | query_str_only }}">table</a>
            <a class="dropdown-item" href="{{ req_url.set('view', 'grid') | query_str_only }}">grid</a>
          </div>
        </li>
      </ul>
    </div>
  </div>
</nav>
