{% if pagination.total_pages > 1 %}
<nav id="pagination" aria-label="Page navigation">
  <ul class="pagination justify-content-center">
    <li class="page-item{% if not pagination.has_prev %} disabled{% endif %}" id="pagination__prev">
      {% if pagination.has_prev and pagination.prev_page == 1 %}
        {% set prev_url = req_url.remove('page') | query_str_only %}
      {% elif pagination.has_prev %}
        {% set prev_url = (req_url.set('page', pagination.prev_page | string) | query_str_only) %}
      {% else %}
        {% set prev_url = '#' %}
      {% endif %}

      <a class="page-link" href="{{ prev_url }}" aria-label="Previous">
        <span aria-hidden="true">&laquo;</span>
        <span class="sr-only">Previous</span>
      </a>
    </li>
    <li class="page-item">
      <a class="page-link numbered-page-link" href="{{ req_url.remove('page') | query_str_only }}">1</a>
    </li>

    {% for page in range(2, pagination.total_pages + 1) %}
      <li class="page-item"><a class="page-link numbered-page-link" href="{{ req_url.set('page', page | string) | query_str_only }}">{{ page }}</a></li>
    {% endfor %}

    <li class="page-item{% if not pagination.has_next %} disabled{% endif %}" id="pagination__next">
      {% if pagination.has_next %}
        {% set next_url = (req_url.set('page', pagination.next_page | string) | query_str_only) %}
      {% else %}
        {% set next_url = '#' %}
      {% endif %}

      <a class="page-link" href="{{ next_url }}" aria-label="Next">
        <span aria-hidden="true">&raquo;</span>
        <span class="sr-only">Next</span>
      </a>
    </li>
  </ul>
</nav>
{% endif %}
