<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: 60px;"></th>

      <th>
      {% if search_options.sort_order == ("title", "asc") %}
      <a href="{{ 'title:desc'|set_sort_order(req_url) }}">Name &Uarr;</a>
      {% else %}
      <a href="{{ 'title:asc'|set_sort_order(req_url) }}">
        Name
        {% if search_options.sort_order == ("title", "desc") %}
          &Darr;
        {% endif %}
      </a>
      {% endif %}
      </th>

      <th style="width: 150px;">
      {% if search_options.sort_order == ("date_created", "desc") %}
      <a href="{{ 'date_created:asc'|set_sort_order(req_url) }}">
        Date saved &Darr;
      {% else %}
      <a href="{{ 'date_created:desc'|set_sort_order(req_url) }}">
        Date saved
        {% if search_options.sort_order == ("date_created", "asc") %}
          &Uarr;
        {% endif %}
      </a>
      {% endif %}
      </th>
    </tr>
  </thead>
  {% for doc in search_response.documents %}

  <tr>
    <td class="thumbnail">
      {% if doc.thumbnail_identifier %}
        <img src="{{ api.thumbnail_url(doc) }}">
      {% else %}
        <img src="{{ api.static_url('placeholder.jpg') }}">
      {% endif %}
    </td>
    <td><a href="{{ api.file_url(doc) }}" target="_blank">{{ doc.title }}</a>

    {% include "_taglist.html" %}

    </td>
    <td>{% if doc.date_created %}{{ doc.date_created | since_now_date_str }}{% endif %}</td>
  </tr>
  {% endfor %}
</table>
