<table class="table">
  <thead class="thead-light">
    <tr>
      <th style="width: 60px;"></th>

      <th>
      {% if search_options.sort_order == ("title", "asc") %}
      <a href="{{ req_url.set('sort', 'title:desc') | query_str_only }}">Name &Uarr;</a>
      {% else %}
      <a href="{{ req_url.set('sort', 'title:asc') | query_str_only }}">
        Name
        {% if search_options.sort_order == ("title", "desc") %}
          &Darr;
        {% endif %}
      </a>
      {% endif %}
      </th>

      <th style="width: 150px;">
      {% if search_options.sort_order == ("date_created", "desc") %}
      <a href="{{ req_url.set('sort', 'date_created:asc') | query_str_only }}">
        Date saved &Darr;
      {% else %}
      <a href="{{ req_url.set('sort', 'date_created:desc') | query_str_only }}">
        Date saved
        {% if search_options.sort_order == ("date_created", "asc") %}
          &Uarr;
        {% endif %}
      </a>
      {% endif %}
      </th>
    </tr>
  </thead>
  {% for doc in search_response.documents %}

  <tr>
    <td class="thumbnail">
      {% if doc.thumbnail_identifier %}
        <img src="{{ api.thumbnail_url(doc) }}">
      {% else %}
        <img src="{{ api.static_url('placeholder.jpg') }}">
      {% endif %}
    </td>
    <td>
      <a href="{{ api.file_url(doc) }}" target="_blank" class="docstore__title">{{ doc.title }}</a>
      {% if doc.user_data and doc.user_data.source_url %}
        <span class="source_url figure-caption">
          [<a href="{{ doc.user_data.source_url }}">{{ doc.user_data.source_url | short_url }}</a>]
        </span>
      {% endif %}

    {% include "_taglist.html" %}

    </td>
    <td>{% if doc.date_created %}{{ doc.date_created | since_now_date_str }}{% endif %}</td>
  </tr>
  {% endfor %}
</table>
