{% if tag_aggregation %}
<div class="collapse{% if expand_tag_list %} show{% endif %}" id="collapseTagList">
  <div class="card card-body">

    {% if view_options.tag_view == "list" %}
      {{ tag_aggregation|render_multilevel_tags(req_url) | safe }}
    {% elif view_options.tag_view == "cloud" %}
      <div id="tag_cloud" style="margin-bottom: 0;">
        {% for tag in tag_aggregation|sort %}
          <a href="{% if tag not in search_options.tag_query %}{{ req_url.add('tag', tag) | query_str_only }}{% else %}#{% endif %}"  rel="{{ tag_aggregation[tag] }}">{{ tag }}</a>
        {% endfor %}
      </div>

      <script src="{{ 'jquery.tagcloud.js' | static_url }}"></script>
      <script>
        $.fn.tagcloud.defaults = {
          size: { start: 12, end: 24, unit: 'pt' },
          color: { start: '#ccc', end: '{{ accent_color }}' },
        };

        $(function() {
          $('#tag_cloud a').tagcloud();
        })
      </script>
    {% endif %}
  </div>
</div>
{% endif %}

