<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>Alex&rsquo;s documents</title>

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      .table td {
        vertical-align: middle;
        height: 88px;
      }

      button.tag {
        border-radius: .75rem;
        padding: .075rem .4rem;
        font-size: 80%;
        margin-top: 0.5em;
      }

      .filter_tag {
        border-radius: .4rem;
        padding: .075rem .4rem;
        margin-right: 0.3em;
        margin-top: -6px;
      }

      .tags {
        margin-bottom: 0;
      }

      td.thumbnail {
        text-align: center;
      }

      td.thumbnail img {
        border: 0.25px solid #eee;
        max-width:  62px;
        max-height: 62px;
      }

      th a {
        color: #495057;
      }

      th a:hover {
        text-decoration: none;
      }

      .container {
        padding-bottom: 3em;
      }
    </style>

    <script>
      // https://stackoverflow.com/a/41542008/1558022
      function gotoTag(tagName) {
        var searchParams = new URLSearchParams(window.location.search);
        if (!searchParams.getAll("tag").includes(tagName)) {
          searchParams.append("tag", tagName);
          window.location = window.location.pathname + '?' + searchParams.toString();
        }
      }

      function removeTag(tagName) {
        var searchParams = new URLSearchParams(window.location.search);
        if (searchParams.getAll("tag").includes(tagName)) {
          existing = searchParams.getAll("tag");
          searchParams.delete("tag");
          for (i = 0; i < existing.length; i++) {
            var t = existing[i];
            if (t != tagName) {
              searchParams.append("tag", t);
            }
          }
          window.location = window.location.pathname + '?' + searchParams.toString();
        }
      }

      function setSortOrder(sortOrder) {
        var searchParams = new URLSearchParams(window.location.search);
        searchParams.delete("sort");
        searchParams.append("sort", sortOrder);
        window.location = window.location.pathname + '?' + searchParams.toString();
      }

      function setPageNumber(pageNumber) {
        var searchParams = new URLSearchParams(window.location.search);
        searchParams.delete("page");

        if (pageNumber != 1) {
          searchParams.append("page", pageNumber);
        }

        window.location = window.location.pathname + '?' + searchParams.toString();
      }
    </script>

    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </head>
  <body>
    <div class="container">

      <p>
        <h1>Alex&rsquo;s documents</h1>
        <hr>
      </p>

      {% if search_options.tag_query %}
      <p>Filtering to documents with
        {% for t in search_options.tag_query %}<button type="button" class="filter_tag btn btn-dark" onclick="script:removeTag('{{ t }}')">{{ t }}</button>{% endfor %}
      </p>
      {% endif %}

      {% if search_response.tags %}
      <p>
        <a class="btn btn-light" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false" aria-controls="collapseExample">
          View all tags
        </a>
      </p>
      <div class="collapse" id="collapseExample">
        <div class="card card-body">
          <ul style="margin-bottom: 0;">
          {% for tag in search_response.tags|sort %}
            {% if not loop.first %}
              {% if tag.count(":") > loop.previtem.count(":") %}
                {% if tag.startswith(loop.previtem) %}<ul>
                {% else %}
                <li>{{ tag.rsplit(":", 1)[0] }}:</li><ul>
                {% endif %}
              {% endif %}
              {% if tag.count(":") < loop.previtem.count(":") %}</ul>{% endif %}
              {% if tag.count(":") == loop.previtem.count(":") and tag.count(":") > 0 and tag.rsplit(":", 1)[0] != loop.previtem.rsplit(":", 1)[0] %}</ul><li>{{ tag.rsplit(":", 1)[0] }}:</li><ul>{% endif %}
            {% else %}
              {% if tag.count(":") > 0 %}
              <li>{{ tag.rsplit(":", 1)[0] }}:</li><ul>
              {% endif %}
            {% endif %}
            <li>{% if tag not in search_options.tag_query %}<a href="#" onclick="script:gotoTag('{{ tag }}')">{{ tag }}</a>{% else %}{{ tag }}{% endif %} ({{ search_response.tags[tag] }})</li>

            {% if loop.last %}
              {% for i in range(tag.count(":")) %}</ul>{% endfor %}
            {% endif %}
          {% endfor %}
          </ul>
        </div>
      </div>
      {% endif %}

      <p></p>

      {% if search_response.documents %}
      <table class="table">
        <thead class="thead-light">
          <tr>
            <th style="width: 60px;"></th>

            <th>
            {% if search_options.sort_order == ("title", "asc") %}
            <a href="#" onclick="script:setSortOrder('title:desc')">Name &Uarr;</a>
            {% else %}
            <a href="#" onclick="script:setSortOrder('title:asc')">
              Name
              {% if search_options.sort_order == ("title", "desc") %}
                &Darr;
              {% endif %}
            </a>
            {% endif %}
            </th>

            <th>
            {% if search_options.sort_order == ("_date_created", "desc") %}
            <a href="#" onclick="script:setSortOrder('_date_created:asc')">Date saved &Darr;</a>
            {% else %}
            <a href="#" onclick="script:setSortOrder('_date_created:desc')">
              Date saved
              {% if search_options.sort_order == ("_date_created", "asc") %}
                &Uarr;
              {% endif %}
            </a>
            {% endif %}
            </th>
          </tr>
        </thead>
        {% for doc in search_response.documents %}

        {% set tags = doc.tags %}

        <tr>
          <td class="thumbnail">
            {% if doc.thumbnail_path %}
              <img src="http://localhost:{{ nginx_port }}/thumbnails/{{ doc.thumbnail_path }}">
            {% endif %}
          </td>
          <td><a href="http://localhost:{{ nginx_port }}/files/{{ doc.pdf_path }}" target="_blank">{{ doc.title }}</a>

          {% if tags %}
          <p class="tags">
            {% for t in tags|sort %}
            <button type="button" class="btn btn-light tag" {% if t in search_options.tag_query %}disabled{% else %}onclick="script:gotoTag('{{ t }}')"{% endif %}>{{ t }}</button>
            {% endfor %}
          </p>
          {% endif %}

          </td>
          <td>{% if doc._date_created %}{{ doc._date_created | since_now_date_str }}{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
      {% else %}
      No documents found!
      {% endif %}

      {% if search_response.total > search_options.page_size %}
      <nav aria-label="Page navigation">
        <ul class="pagination justify-content-center">
          <li class="page-item{% if search_options.page == 1 %} disabled{% endif %}">
            <a class="page-link" href="#" aria-label="Previous"{% if search_options.page > 1 %} onclick="script:setPageNumber({{ search_options.page - 1}})"{% endif %}>
              <span aria-hidden="true">&laquo;</span>
              <span class="sr-only">Previous</span>
            </a>
          </li>
          {% set total_pages = (search_response.total / search_options.page_size) | round(0, "ceil") | int %}
          {% for page in range(1, total_pages + 1) %}
            <li class="page-item{% if page == search_options.page %} active{% endif %}">
              {% if page == search_options.page %}
              <span class="page-link" style="pointer-events: none;">{{ page }}</span>
              {% else %}
              <a class="page-link" href="#" onclick="script:setPageNumber({{ page }})">{{ page }}</a>
              {% endif %}
            </li>
          {% endfor %}
          <li class="page-item{% if search_options.page == total_pages %} disabled{% endif %}">
            <a class="page-link" href="#" aria-label="Next"{% if search_options.page < total_pages %} onclick="script:setPageNumber({{ search_options.page + 1}})"{% endif %}>
              <span aria-hidden="true">&raquo;</span>
              <span class="sr-only">Next</span>
            </a>
          </li>
        </ul>
      </nav>
      {% endif %}
    </div>
  </body>
</html>
