body {
  background: url('/static/natural_paper.png');
  font: 14pt Helvetica;
  line-height: 1.45em;
  margin: 0;
  padding: 0;
}

aside {
  background: url('/static/specktre.png');
  background-size: auto 100%;
  padding: 6px 0px 2px 0px;
  border-bottom: 2px solid #aaa;
  font: 20pt "Nanum Brush Script";
  font-weight: bold;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.3)
}

td {
  line-height: 1.45em;
  font-size: 10pt;
}

main, #aside_inner {
  max-width: 940px;
  margin-left:  auto;
  margin-right: auto;
  padding-left:  20px;
  padding-right: 20px;
}

.thumbnail {
  padding-right: 15px;
}

.thumbnail img {
  width: 100%;
}

h2 {
  margin-bottom: 0.5em;
  line-height: 1.25em;
}

table {
  width: 100%;
}

hr {
  margin-left:  1em;
  margin-right: 1em;
  border: none;
  height: 1px;
  background: rgba(128, 128, 128, 0.5);
}

.thumbnail a:hover {
  background: #606060;
}

.thumbnail a img:hover {
  opacity: 0.8;
}

a {
  color: #606060;
}

a:hover {
  background: rgba(128, 128, 128, 0.3);
}

a.remove_tag {
  color: #d01c11;
  text-decoration: none;
}

a.remove_tag:hover {
  background: rgba(208, 28, 17, 0.3);
}

.meta_info {
  background: white;
  border: 2px solid #aaa;
  padding: 12px 15px;
  margin: 1em -14px;
  border-radius: 8px;
  font-size: 13pt;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}

.meta_info ul {
  line-height: 1.4em;
}

#tag_cloud {
  text-align: justify;
}

#tag_cloud .tag {
  display: inline-block;
}

a.disabled {
   pointer-events: none;
   cursor: default;
   text-decoration: none;
   color: black;
}

.doc_id {
  font-weight: normal;
  display: none;
  color: #999;
}

h2:hover .doc_id {
  display: inline-block;
}
