<style>
  body {
    background: url('/static/natural_paper.png');
    font: 16pt Helvetica;
    line-height: 1.35em;
  }

  main {
    max-width: 750px;
    margin-left:  auto;
    margin-right: auto;
  }

  .thumbnail {
    width: 200px;
    padding-right: 15px;
  }

  .thumbnail img {
    width: 200px;
  }

  h3 {
    margin-bottom: 0.5em;
  }

  table {
    width: 100%;
  }

  hr {
    margin-left:  1em;
    margin-right: 1em;
    border: none;
    height: 0.5px;
    background: rgba(115, 0, 255, 0.5);
  }

  .thumbnail a {
    display: block;
  }

  .thumbnail a:hover {
    background: #7300ff;
  }

  .thumbnail a img:hover {
    opacity: 0.8;
    border: 1px solid #7300ff;
    margin: -1px;
  }

  a {
    color: #7300ff;
  }

  a:hover {
    background: rgba(115, 0, 255, 0.3);
  }

  a.remove_tag {
    color: #d01c11;
    text-decoration: none;
  }

  a.remove_tag:hover {
    background: rgba(208, 28, 17, 0.3);
  }

  .tag_info .tag:not(:last-child) {
    margin-right: 5px;
  }

  .tag_info {
    background: rgba(115, 0, 255, 0.2);
    border: 3px solid rgba(115, 0, 255);
    padding: 5px 10px;
    margin: 1em -10px;
    border-radius: 3px;
    font-size: 13pt;
  }

  .tag_info hr {
    height: 1px;
  }
</style>

<main>
  {% if request_tags or tag_tally %}
  <div class="tag_info">
    <div class="tag_cloud">
      {% for t, count in tag_tally.items()|sort() %}
        <span class="tag">
          {% if t in request_tags %}
          {{ t }}
          {% else %}
          <a href="{{ request_url.add('tag', t) }}">{{ t }}</a>
          {% endif %}
        </span>
      {% endfor %}
    </div>

    {% if tag_tally and request_tags %}
    <hr/>
    {% endif %}
    {% if request_tags %}
      Filtering to tag{% if request_tags|length > 1 %}s{% endif %}
      {% for t in request_tags %}
        <span class="tag"><strong>{{ t }}</strong> <a href="{{ request_url.remove('tag', t) }}" class="remove_tag">[x]</a></span>
      {% endfor %}
    {% endif %}
  </div>
  {% endif %}

  <table>
    {% for doc in documents %}
      <tr>
        <td class="thumbnail">
          {% for f in doc.files %}
          <a href="/{{ f.path }}"><img src="/{{ f.thumbnail.path }}"></a>
          {% if not loop.last %}
            <br/>
          {% endif %}
          {% endfor %}
        </td>
        <td>
          <h3 class="title">{{ doc|display_title }}</h3>
          {{ doc.files[0].source_url }}<br/>
          {% if doc|display_tags %}
            <div class="tags">
            {% for t in doc|display_tags %}
              <span class="tag">
                {% if t in request_tags %}
                {{ t }}
                {% else %}
                <a href="{{ request_url.add('tag', t) }}">{{ t }}</a>
                {% endif %}
              </span>
            {% endfor %}
            </div>
          {% endif %}
        </td>
      </tr>
      {% if not loop.last %}
      <tr>
        <td colspan="2"><hr/></td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>
</main>
