<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      .table td {
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <p>
        <h1>Alex&rsquo;s documents</h1>
        <hr>
      </p>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th style="width: 60px;"></th>
            <th>Filename</th>
          </tr>
        </thead>
        {% for hit in documents.hits %}
        <tr>
          <td>
            {% if hit._source.has_thumbnail %}
              <img src="http://localhost:5858/thumbnails/{{ hit._source.filename[0].lower() }}/{{ hit._source.filename }}">
            {% endif %}
          </td>
          <td>{{ hit._source.filename }}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
