<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

    <style>
      .table td {
        vertical-align: middle;
        height: 80px;
      }

      button.tag {
        border-radius: .75rem;
        padding: .075rem .4rem;
        font-size: 80%;
        margin-top: 0.5em;
      }

      .tags {
        margin-bottom: 0;
      }
    </style>
  </head>
  <body>
    <div class="container">

      <p>
        <h1>Alex&rsquo;s documents</h1>
        <hr>
      </p>

      <table class="table">
        <thead class="thead-light">
          <tr>
            <th style="width: 60px;"></th>
            <th>Name</th>
            <th>Date indexed</th>
          </tr>
        </thead>
        {% for hit in documents.hits %}

        {% set title = hit._source.title %}
        {% set tags = hit._source.tags %}

        <tr>
          <td>
            {% if hit._source.has_thumbnail %}
              <img src="http://localhost:5858/thumbnails/{{ hit._source.filename | shard }}">
            {% endif %}
          </td>
          <td><a href="http://localhost:5858/files/{{ hit._source.filename | shard }}" target="_blank">{% if title %}{{ title }}{% else %}{{ hit._source.filename }}{% endif %}</a>

          {% if tags %}
          <p class="tags">
            {% for t in tags|sort %}
            <button type="button" class="btn btn-light tag">{{ t }}</button>
            {% endfor %}
          </p>
          {% endif %}

          </td>
          <td>{% if hit._source.indexed_at %}{{ hit._source.indexed_at | since_now_date_str }}{% endif %}</td>
        </tr>
        {% endfor %}
      </table>
    </div>
  </body>
</html>
