main.documents {
  display: grid;
  grid-gap: 30px;
  width: 100%;

  section {
    align-self: start;
  }

  .document {
    position: relative;
    border-radius: 3px;
    box-shadow: 0 3px 7px #888888;
    overflow: hidden;
    display: grid;

    &__image img {
      width: 100%;
    }

    &__metadata {
      &__title {
        color: #bbb;
        font-size: 10px;
        margin-bottom: 2px;
        text-transform: uppercase;
      }

      &__info {
        font-size: 14px;
      }
    }
  }

  &.documents__view_grid {
    grid-template-columns: unquote("repeat(auto-fit, minmax(250px, 1fr))");

    .document {
      max-width: 300px;

      &__info {
        background: white;
        max-height: 0;
        overflow: hidden;
        transition: max-height 0.35s ease-out;

        z-index: 6;
        grid-row: 2 / 2;
      }

      &__metadata {
        padding: 10px 25px;

        h5 {
          margin-bottom: 0;
        }
      }

      &__image {
        position: relative;
        grid-row:    1 / 2;
        grid-column: 1 / 1;
      }

      &:hover .document__info {
        max-height: 500px;
        transition: max-height 0.65s ease-in;
      }

      &::after {
        content: "";
        width: 100%;
        height: 30%;
        position: absolute;
        bottom: 0;
        left:   0;
        background: linear-gradient(to top, rgba(0, 0, 0, 0.85), rgba(0, 0, 0, 0));
      }

      &__panel {
        z-index: 7;
        grid-row:    1 / 2;
        grid-column: 1 / 1;
        align-self: end;
        margin-bottom: 0;
      }

      &__title {
        text-shadow: 0 1px 4px rgba(0, 0, 0, 0.8);

        a {
          color: white;
          padding: 10px 20px;
          display: block;

          &:hover {
            text-decoration: none;
          }
        }
      }
    }
  }

  &.documents__view_table {
    grid-auto-columns: 100%;

    section {
      width: 100%;
      grid-column: 1 / 1;
    }

    .document {
      width: 100%;
      grid-gap: 15px;
      height: 138px;
      grid-template-columns: 110px auto;

      &__image {
        overflow: hidden;

        img {
          grid-column: 1 / 2;
          grid-row:    1 / 1;
          object-fit: cover;
          width:  100%;
          height: 100%;
        }
      }

      &__panel {
        grid-row: 1 / 1;
        grid-column: 2 / 2;

        display: inline-block;
        margin-top:    auto;
        margin-bottom: auto;
      }

      &__info {
        display: grid;
        grid-template-columns: 150px auto;
        margin-top:    10px;
        margin-bottom: 10px;
      }

      &__title {
        margin-top: 14px;

        a {
          color: black
        }

        h3 {
          font-size: 1.25rem;
        }
      }

      &__metadata {
        &#document__metadata__date_created {
          grid-column: 1 / 2;
          grid-row:    1 / 2;
        }


        &#document__metadata__source_url {
          grid-column: 2 / 2;
          grid-row:    1 / 2;
        }

        &#document__metadata__tags {
          grid-column: 1 / 2;
          grid-row:    2 / 2;
        }
      }
    }
  }
}
