.table td {
  vertical-align: middle;
  height: 88px;
}

button.tag {
  border-radius: .75rem;
  padding: .075rem .4rem;
  font-size: 80%;
  margin-top: 0.5em;
}

.filter_tag {
  border-radius: .4rem;
  padding: .075rem .4rem;
  margin-right: 0.3em;
  margin-top: -6px;
}

.tags {
  margin-bottom: 0;

  a:hover {
    text-decoration: none;
  }
}

td.thumbnail {
  text-align: center;
}

td.thumbnail img {
  border: 0.25px solid #eee;
  max-width:  62px;
  max-height: 62px;
}

th a {
  color: #495057;
}

th a:hover {
  text-decoration: none;
}

.container {
  padding-bottom: 3em;
}

.tag_query__tag {
  margin-left: 0.4em;

  a {
    &::before {
      content: "[";
    }

    &::after {
      content: "]";
    }
  }
}

.card {
  margin-bottom: 1rem;

  .card-header {
    font-weight: bold;
    font-size: 1.25rem;
  }
}

.navbar {
  margin-bottom: 1rem;
  padding: 0;

  .container {
    padding-bottom: 0 !important;
  }

  ul {
    margin-top:    0.5rem;
    margin-bottom: 0.5rem;
  }
}

.source_url {
  font-size: 0.75rem;

  a, a:visited {
    color: #6c757d;
  }
}
