[run]
branch = True
include =
    *.py
omit =
    **/.virtualenvs/**/*.py
    /usr/local/Cellar/**/*.py
    **/python3.6/**/*.py
    /opt/python/**/*.py

[report]
show_missing = true
fail_under = 100
