{% if documents|length <= page_end %}
  {% set next_url = "#" %}
{% else %}
  {% set next_url = query_string|set_page(page + 1) %}
{% endif %}

{% if page == 1 %}
  {% set prev_url = "#" %}
{% else %}
  {% set prev_url = query_string|set_page(page - 1) %}
{% endif %}

<div class="meta_info">
  docstore{% if title %}/{{ title }}{% endif %}: {% if documents|length == 0 %}
    no documents found!
  {% else %}
    showing document{% if page_start != page_end %}s{% endif %} {{ page_start }}{% if page_start != page_end %}&ndash;{{ page_end }}{% endif %} of {{ documents|length }}.

    {% if (prev_url != "#") or (next_url != "#") %}
      <a {% if prev_url == "#" %}class="disabled"{% endif %} href="{{ prev_url }}">« prev</a>
      •
      <a {% if next_url == "#" %}class="disabled"{% endif %} href="{{ next_url }}">next »</a>
    {% endif %}
  {% endif %}

  {% if (include_tags and tag_tally) or request_tags %}
  <hr/>
  {% endif %}

  {% if include_tags and tag_tally %}
    {% if tag_tally|length > 15 %}
      <details id="tagList"><summary>tag list</summary></details>

      <details id="tagCloud"><summary>tag cloud</summary>
    {% endif %}

    {% set tag_cloud = TagCloud(tag_tally) %}

    <div id="tag_cloud">
      {% for t, count in tag_tally.items()|sort() %}
        {% if t in request_tags %}
        <span style="{{ tag_cloud.get_style(count) }}">{{ t }}</span>
        {% else %}
        <a class="tag" href="{{ query_string|add_tag(t) }}" style="{{ tag_cloud.get_style(count) }}">{{ t }}</a>
        {% endif %}
      {% endfor %}
    </div>

    {% if tag_tally|length > 15 %}
      </details>
    {% endif %}

    {% if request_tags %}
    <hr/>
    {% endif %}
  {% endif %}

  {% if request_tags %}
    filtering to tag{% if request_tags|length > 1 %}s{% endif %}
    {% for t in request_tags %}
      <span class="tag"><strong>{{ t }}</strong> <a href="{{ query_string|remove_tag(t) }}" class="remove_tag">[x]</a></span>
    {% endfor %}
  {% endif %}
</div>
