<title>
  {% if request_tags %}
    Tagged with {% for t in request_tags %}{{ t }}{% if not loop.last %}, {% endif %}{% endfor %} —
  {% endif %}
  docstore
</title>

<style>
  body {
    background: url('/static/natural_paper.png');
    font: 14pt Helvetica;
    line-height: 1.45em;
  }

  td {
    line-height: 1.45em;
    font-size: 10pt;
  }

  main {
    max-width: 900px;
    margin-left:  auto;
    margin-right: auto;
  }

  .thumbnail {
    width: 200px;
    padding-right: 15px;
  }

  .thumbnail img {
    width: 200px;
  }

  h2 {
    margin-bottom: 0.5em;
    line-height: 1.25em;
  }

  table {
    width: 100%;
  }

  hr {
    margin-left:  1em;
    margin-right: 1em;
    border: none;
    height: 0.5px;
    background: rgba(115, 0, 255, 0.5);
  }

  .thumbnail a {
    display: block;
  }

  .thumbnail a:hover {
    background: #7300ff;
  }

  .thumbnail a img:hover {
    opacity: 0.8;
    border: 1px solid #7300ff;
    margin: -1px;
  }

  a {
    color: #7300ff;
  }

  a:hover {
    background: rgba(115, 0, 255, 0.3);
  }

  a.remove_tag {
    color: #d01c11;
    text-decoration: none;
  }

  a.remove_tag:hover {
    background: rgba(208, 28, 17, 0.3);
  }

  .meta_info {
    background: rgba(115, 0, 255, 0.15);
    border: 3px solid rgba(115, 0, 255);
    padding: 12px 15px;
    margin: 1em -15px;
    border-radius: 8px;
    font-size: 13pt;
  }

  #tag_cloud {
    text-align: justify;
  }

  .meta_info hr {
    height: 1px;
  }

  #tag_cloud .tag {
    display: inline-block;
  }

  a.disabled {
     pointer-events: none;
     cursor: default;
     text-decoration: none;
     color: black;
  }

  .doc_id {
    font-weight: normal;
/*    font-size: small;*/
    display: none;
    color: #999;
  }

  h2:hover .doc_id {
    display: inline-block;
  }
</style>

<main>
  {% set page_size = 100 %}

  {% set page_start = (page - 1) * page_size + 1 %}
  {% set page_end = page_start + page_size - 1 %}

  {% if documents|length < page_end %}
    {% set page_end = documents|length %}
  {% endif %}

  {% include "_meta_info.html" %}

  <table>
    {% for doc in documents[page_start - 1:page_end] %}
      <tr class="doc" id="doc_{{ doc.id }}">
        {% if colors[doc.id] %}
          {% set red = (colors[doc.id][0] * 255) | int %}
          {% set green = (colors[doc.id][1] * 255) | int %}
          {% set blue = (colors[doc.id][2] * 255) | int %}
          <style>
          #doc_{{ doc.id }} a {
            color: rgb({{ red }}, {{ green }}, {{ blue }});
          }

          #doc_{{ doc.id }} a:hover {
            background: rgba({{ red }}, {{ green }}, {{ blue }}, 0.3);
          }

          #doc_{{ doc.id }} .thumbnail a:hover {
            background: rgb({{ red }}, {{ green }}, {{ blue }});
          }

          #doc_{{ doc.id }} .thumbnail a img:hover {
            opacity: 0.8;
            border: 1px solid rgb({{ red }}, {{ green }}, {{ blue }});
            margin: -1px;
          }
          </style>
        {% endif %}
        <td class="thumbnail">
          {%- for f in doc.files %}
          <a href="/{{ f.path }}"><img src="/{{ f.thumbnail.path }}"></a>
          {%- if not loop.last -%}
            <br/>
          {%- endif -%}
          {%- endfor %}
        </td>
        <td>
          {% if doc.title or doc|attrib_tags %}
            <h2 class="title">
              {{ doc.title }}
              {% if doc|attrib_tags %}
              by
              {% for t in doc|attrib_tags %}
                {% if t in request_tags %}
                {{ t[3:] }}
                {% else %}
                <a href="{{ query_string|add_tag(t) }}">{{ t[3:] }}</a>
                {% endif %}
                {%- if not loop.last %}, {% endif %}
              {% endfor %}
              {% endif %}
              <span class="doc_id">({{ doc.id }})</span>
            </h2>
          {% endif %}

          date saved: {{ doc.date_saved | pretty_date }}
          {% if (doc.files and doc.files[0].source_url) or doc|display_tags %}<br/>{% endif %}

          {% if doc.files and doc.files[0].source_url %}
            source: <a href="{{ doc.files[0].source_url }}">{{ doc.files[0].source_url|hostname }}</a></br>
          {% endif %}

          {% if doc|display_tags %}
            <div class="tags">
            tagged with: {% for t in doc|display_tags %}
              <span class="tag">
                {% if t in request_tags %}
                {{ t }}
                {% else %}
                <a href="{{ query_string|add_tag(t) }}">{{ t }}</a>
                {% endif %}
              </span>
            {% endfor %}
            </div>
          {% endif %}
        </td>
      </tr>
      {% if not loop.last %}
      <tr>
        <td colspan="2"><hr/></td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>

  {% if page_end - page_start > 10 %}
  {% include "_meta_info.html" %}
  {% endif %}
</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='jquery.tagcloud.js') }}"></script>
<script>
  $.fn.tagcloud.defaults = {
    size: { start: 10, end: 24, unit: 'pt' },
    color: { start: '#999', end: '#7300ff' },
  };

  $(function() {
    $('#tag_cloud .tag').tagcloud();
  })
</script>
