<link rel="shortcut icon" href="{{ url_for('static', filename='stacks.ico') }}">

<title>
  {% if request_tags %}
    Tagged with {% for t in request_tags %}{{ t }}{% if not loop.last %}, {% endif %}{% endfor %} —
  {% endif %}
  docstore
</title>

<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>

<main>
  {% set page_size = 100 %}

  {% set page_start = (page - 1) * page_size + 1 %}
  {% set page_end = page_start + page_size - 1 %}

  {% if documents|length < page_end %}
    {% set page_end = documents|length %}
  {% endif %}

  {% include "_meta_info.html" %}

  <table>
    {% for doc in documents[page_start - 1:page_end] %}
      <tr class="doc" id="doc_{{ doc.id }}">
        {% if colors[doc.id] %}
          {% set red = (colors[doc.id][0] * 255) | int %}
          {% set green = (colors[doc.id][1] * 255) | int %}
          {% set blue = (colors[doc.id][2] * 255) | int %}
          <style>
          #doc_{{ doc.id }} a {
            color: rgb({{ red }}, {{ green }}, {{ blue }});
          }

          #doc_{{ doc.id }} a:hover {
            background: rgba({{ red }}, {{ green }}, {{ blue }}, 0.3);
          }

          #doc_{{ doc.id }} .thumbnail a:hover {
            background: rgb({{ red }}, {{ green }}, {{ blue }});
          }

          #doc_{{ doc.id }} .thumbnail a img:hover {
            opacity: 0.8;
            border: 1px solid rgb({{ red }}, {{ green }}, {{ blue }});
            margin: -1px;
          }
          </style>
        {% endif %}
        <td class="thumbnail">
          {%- for f in doc.files %}
          <a href="/{{ f.path }}"><img src="/{{ f.thumbnail.path }}"></a>
          {%- if not loop.last -%}
            <br/>
          {%- endif -%}
          {%- endfor %}
        </td>
        <td>
          {% if doc.title or doc|attrib_tags %}
            <h2 class="title">
              {{ doc.title | smartypants | safe }}
              {% if doc|attrib_tags %}
              by
              {% for t in doc|attrib_tags %}
                {% if t in request_tags %}
                {{ t[3:] }}
                {% else %}
                <a href="{{ query_string|add_tag(t) }}">{{ t[3:] }}</a>
                {% endif %}
                {%- if not loop.last %}, {% endif %}
              {% endfor %}
              {% endif %}
              <span class="doc_id">({{ doc.id }})</span>
            </h2>
          {% endif %}

          date saved: {{ doc.date_saved | pretty_date }}
          {% if (doc.files and doc.files[0].source_url) or doc|display_tags %}<br/>{% endif %}

          {% if doc.files and doc.files[0].source_url %}
            source: <a href="{{ doc.files[0].source_url }}">{{ doc.files[0].source_url|hostname }}</a></br>
          {% endif %}

          {% if doc|display_tags %}
            <div class="tags">
            tagged with: {% for t in doc|display_tags %}
              <span class="tag">
                {% if t in request_tags %}
                {{ t }}
                {% else %}
                <a href="{{ query_string|add_tag(t) }}">{{ t }}</a>
                {% endif %}
              </span>
            {% endfor %}
            </div>
          {% endif %}
        </td>
      </tr>
      {% if not loop.last %}
      <tr>
        <td colspan="2"><hr/></td>
      </tr>
      {% endif %}
    {% endfor %}
  </table>

  {% if page_end - page_start > 10 %}
  {% include "_meta_info.html" %}
  {% endif %}
</main>

<script src="https://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
<script src="{{ url_for('static', filename='jquery.tagcloud.js') }}"></script>
<script>
  $.fn.tagcloud.defaults = {
    size: { start: 10, end: 24, unit: 'pt' },
    color: { start: '#aaa', end: '#666' },
  };

  $(function() {
    $('#tag_cloud .tag').tagcloud();
  })
</script>
